{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table class="table table-striped" style="text-align: left">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
        {% for transcation in transactions %}
            <tr>
                <td>{{ transcation['symbol'] }}</td>
                <td>{{ transcation['shares'] }}</td>
                <td>{{ transcation['price']|usd }}</td>
                <td>{{ transcation['timestamp'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}